@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  min-height: calc(100vh - 4.375rem - 1.5rem);
  margin: 4.375rem 1.25rem 1.5rem;
  display: grid;
  grid-template-rows: 1fr min-content;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

main > div {
  display: grid;
  row-gap: 2.375rem;
}

main > div > h1 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -0.045rem;
}

main > div > div {
  display: grid;
  row-gap: 0.625rem;
  font-family: 'Poppins', sans-serif;
}

main > div > div > h3 {
  font-weight: 600;
}

main > div > div > p {
  font-weight: 400;
}

main > figure > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 4rem;
}

figure > ul > li:nth-of-type(2n) {
  position: relative;
  top: 1.75rem;
}

li {
  position: relative;
  width: 9.8rem;
}

li > figure > figcaption > div:nth-of-type(1) {
  margin-top: 0.625rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

li > figure > figcaption > div:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  writing-mode: vertical-lr;
  font-size: 0.625rem;
  line-height: 0.8rem;
}

li > figure > img {
  width: 8.75rem;
  height: 13.125rem;
}

footer {
  margin-top: 4rem;
}

footer > p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #bdbdbd;
  font-size: 0.9rem;
}

footer > p > a {
  color: inherit;
  font-weight: 700;
}

footer > p > a:focus,
footer > p > a:hover {
  outline: 2px solid #333333;
}

@media screen and (min-width: 1300px) {
  body {
    min-height: calc(100vh - 8.375rem);
    margin: 6.875rem 17.2rem 1.5rem 15rem;
  }

  main {
    row-gap: 6rem;
  }

  main > div {
    display: flex;
    column-gap: 15rem;
  }

  main > div > h1 {
    margin-top: 0.2rem;
    white-space: nowrap;
  }

  main > figure > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  li {
    width: 15.8rem;
  }

  li > figure > img {
    width: 14.2rem;
    height: 21.3rem;
  }

  figure > ul > li:nth-of-type(2n) {
    top: 0;
  }

  figure > ul > li:nth-of-type(2),
  figure > ul > li:nth-of-type(5) {
    top: 6.25rem;
  }

  li > figure > figcaption > div:nth-of-type(1) {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  li > figure > figcaption > div:nth-of-type(2) {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  footer {
    margin-top: 8.5rem;
  }
}

@media screen and (min-width: 1800px) {
  main {
    width: 75%;
    margin: 0 auto;
  }
}
