@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: calc(100vh - 3rem);
  margin: 1.5rem;
  position: relative;
}

header > h3 {
  font-family: Inconsolata, serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #333333;
  letter-spacing: -0.2rem;
}

main {
  margin-top: 4rem;
  display: grid;
}

main > div {
  width: calc(100vw - 3rem);
  display: grid;
  justify-content: center;
}

main > div > img {
  width: 286px;
  height: 238px;
}

main > section {
  margin-top: 3.75rem;
  font-family: 'Space Mono', monospace;
  letter-spacing: -0.035rem;
  overflow: visible;
}

main > section > h1 {
  width: calc(100vw - 1.5rem);
  font-weight: 700;
  font-size: 3rem;
  color: #333333;
  line-height: 4.5rem;
}

main > section > p {
  margin-top: 1.875rem;
  font-weight: 400;
  font-size: 1.125rem;
  color: #4f4f4f;
  line-height: 1.7rem;
}

main > section > a {
  display: block;
  margin-top: 4rem;
  background-color: #333333;
  color: white;
  width: fit-content;
  padding: 1.5rem 2.7rem;
  font-size: 0.875rem;
  text-decoration: none;
}

main > section > a:hover,
main > section > a:focus {
  color: #333333;
  background-color: white;
  outline: 3px solid #333333;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer > p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #bdbdbd;
  font-size: 0.9rem;
}

footer > p > a {
  color: inherit;
  font-weight: 700;
}

footer > p > a:focus,
footer > p > a:hover {
  outline: 2px solid #333333;
}

@media screen and (min-width: 820px) and (max-width: 1350px) {
  main > div {
    justify-content: start;
  }
}

@media screen and (min-width: 1350px) {
  body {
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: calc(100vh - 4rem);
    margin: 2.5rem 7.5rem 1.5rem 4.8rem;
  }

  main {
    display: flex;
    column-gap: 7.3rem;
    margin: 0;
    align-self: center;
  }

  main > div {
    width: auto;
  }

  main > div > img {
    width: 540px;
    height: 448px;
  }

  main > section {
    margin: 0;
  }

  main > section > h1 {
    width: 100%;
    font-size: 4rem;
    line-height: 5.9rem;
  }

  main > section > p {
    width: 65%;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  footer {
    position: static;
    margin-top: 9rem;
  }
}
